*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Popping', sans-serif;
}

.hero{
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(12, 3, 51, 0.3),rgba(12, 3, 51, 0.3));
	position: relative;
	padding: 0.5%;
	/*display: flex;*/
	align-items: center;
	justify-content: center;
}
nav{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px 5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
nav .logo{
	width: 15%;
}
nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 40px;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 17px;
}
.btn{
	display: inline-block;
	background: linear-gradient(45deg, #FF0000, #808080);
	border-radius: 6px;
	padding: 10px 20px;
	box-sizing: border-box;
	text-decoration: none;
	color: #fff;
	box-shadow: 3px 8px 22px rgba(94, 28, 62, 0.15);
}
.content{
	padding-top: 3%;
	margin-left: 15%;
	margin-top: 10%;
}
.content h1{
	animation: 2s ease-out 0s 1 animetext;
	font-size: 60px;
	font-weight: 1000;
	margin-top: 24px;
	margin-bottom: -35px;
	-webkit-text-stroke: 1px #fff;
	color: transparent;
}
.content p{
	animation: 1s ease-out 0s 1 animetext;
	font-size: 150px;
	font-weight: 1000;
	color: #fff;
}
.content .btn{
	display: inline-block;
	background: linear-gradient(45deg, #87adfe, #ff77cd);
	border-radius: 6px;
	padding: 10px 20px;
	box-sizing: border-box;
	text-decoration: none;
	color: #fff;
	box-shadow: 3px 8px 22px rgba(94, 28, 62, 0.15);
}
.back-video{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
}
.img{
	width: 60px;
	height: 60px;
}
@keyframes animetext {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
.cursor{
	position: fixed;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #fff;
	transition: 0.1s;
	transform: translate(-50%, -50%);
	pointer-events: none;
	mix-blend-mode: difference;
}
ul li:hover ~ .cursor{
	transform: scale(4);
}